@charset "UTF-8";

#main {height: 100vh; background: linear-gradient( to bottom, #56a5bf, #0a5383);}
#main .main {padding-top: 130px; margin: 0 auto; width: 840px; color: #fff; text-align: center;}
#main .main b{display: block; margin-bottom: 20px; font-size: 50px;}
#main .main p{margin-bottom: 50px; font-size: 17px;}
#main .main .button button {display: inline-block; padding: 15px 35px; border: 1px solid #fff; color: #fff; font-size: 20px; font-weight: 600; transition-duration: 0.3s;}
#main .main .button button:first-child {margin-right: 50px;}
#main .main .button button:hover {background-color: #fff; color:#0a5383; }

