@charset "UTF-8";

body {background-color:#010203;}

#header {padding-top:40px;  margin:0 auto; width:1260px;}
#header .header {overflow: hidden;}
#header .header a {float:right; display: block; width:45px; height:45px; background-color:#fff;}
#header .header a img {padding: 13px 0 0 13px;}

#content {padding-top: 166px; margin:0 auto; width:600px;}
#content .content {}
#content .content h1 {margin-bottom:80px; text-align: center;}
#content .content input {padding: 10px 0; margin-bottom: 40px; width: 600px; height: 30px; border: none; border-bottom: 1px solid #fff; font-style: oblique; font-size: 18px; background-color: transparent; color:#bfbfbf;}
#content .content input:last-child {background: url(../images/icon/eye.png) no-repeat;}
#content .content button {margin-bottom:20px; width:290px; height:50px; color:#fff; font-size:18px;}
#content .content button.a  {background-color:#3397b8; margin-right:15px; }
#content .content button.b {background-color:#454545;}
#content .content p {float: right; overflow: hidden; border-bottom: 1px solid #bcbcbc; color:#eee; font-size:15px; }

/* #content {padding-top: 166px; margin:0 auto; width:600px;}
#content .content {overflow:hidden;}
#content .content h1 {margin-bottom:80px; text-align: center;}
#content .content p {font-size:15px; color:#fff;}
#content .content .txt { padding: 12px; margin-top:30px; overflow: auto; height: 300px; width:600px; border: 1px solid #676768; background: #010203; color:#eaeaea; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; scrollbar-base-color: #d9d9d9; scrollbar-arrow-color: #8e8e8e; scrollbar-3dlight-color: #d9d9d9; scrollbar-darkshadow-color: #d9d9d9; scrollbar-face-color: #d9d9d9; scrollbar-highlight-color: #d9d9d9; scrollbar-shadow-color: #d9d9d9; scrollbar-track-color: #f2f2f2; -webkit-overflow-scrolling: touch;}
#content .content button {float:right; margin-top:60px; width:290px; height:50px; background-color:#454545; font-size:18px; color:#fff; cursor:pointer;}
#content .content button:hover {background-color:#ff5e40; } */

/* #content {padding-top: 166px; margin:0 auto; width:600px;}
#content .content {overflow:hidden;}
#content .content h1 {margin-bottom:80px; text-align: center;}
#content .content input {padding: 10px 0; margin-bottom: 40px; width: 600px; height: 30px; border: none; border-bottom: 1px solid #fff; font-style: oblique; font-size: 18px; background-color: transparent; color:#bfbfbf;}
#content .content p {float: left; width:280px;  color:#6c6c6c; font-size:15px; }
#content .content p a {color:#e9553a; }
#content .content button {float:right; margin-bottom:20px; width:290px; height:50px; background-color:#ff5e40; color:#fff; font-size:18px;} */